.spinner-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.spinner-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  height: 25px;
}

.spinner {
  animation: loading-spinner 1s linear infinite;
  opacity: 0;
}

.spinner path {
  stroke: #f7fff7;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner-partial {
  stroke: #db2e2e;
  animation: loading-spinner-partial 2s linear infinite;
  opacity: 0;
}

@keyframes loading-spinner-partial {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.show {
  opacity: 1;
}
