@media only screen and (min-width: 320px) {
    .main-container {
        margin-left: 3%;
        margin-right: 3%;
        font-size: 16px;
    }
}

@media only screen and (min-width: 481px) {
    .main-container {
        margin-left: 3%;
        margin-right: 3%;
        font-size: 17px;
    }
}

@media only screen and (min-width: 641px) {
    .main-container {
        margin-left: 3%;
        margin-right: 3%;
        font-size: 17px;
    }
}

@media only screen and (min-width: 961px) {
    .main-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 1025px) {
    .main-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 1281px) {
    .main-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1300px) {
    .blog-container {
        margin: 0 10%;
    }
}

@media screen and (max-width: 768px) {
    .blog-container {
        margin: 0 5%;
    }

    .markdown-container {
        font-size: 17px;
    }

    code {
        font-size: 14px;
    }
}

@media only screen and (max-width: 430px) {
    .main-container {
        margin-left: 4%;
        margin-right: 4%;
    }

}