:root {
  // Html
  --html-color: #ffffff;
  --background-color: #0c0c0d;

  // Navbar
  --navbar-link: #ffffff;
  --navbar-link-hover: #009edc;
  --navbar-link-hover-background: #3f3f46;

  // Card
  --card-title: #fff;
  --card-title-hover: #0084dc;
  --card-date: #fff;
  --card-category-info: #3f3f46;
  --card-category-hover-background: #71717a;

  // Series Card
  --card-series-background: #3f3f46;
  --card-series-border: #555555;
  --card-series: #fafafa;
  --card-series-hover-background: #71717a;
  --card-series-hover-span: #fdfdfd;

  // Featured Card
  --card-featured-background: #0084dc17;
  --card-featured-border: #0084dc;

  --main-header-color: #ffffff;

  --code-background-color: transparent;
  --markdown-tags-color: #ffb951;
  --markdown-h1-color: #ffffff;
  --markdown-h2-color: #d008eb;
  --markdown-h3-color: #ff2ea4;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #40d0f0;
  --markdown-a-hover-color: #40d0f0c0;

  --code-background-color: #01790b07;
  --code-border-color: #01b419;
}

[data-theme="light"] {
  --html-color: #2d2d2d;
  --background-color: #ffffff;
  --navbar-link-color: #2d2d2d;
  --header-logo-color: #01b419;

  --meta-anchor-border-color: transparent;
  --meta-anchor-background: #01b419;
  --meta-anchor-hover-background: #198515;

  --code-background-color: #0d1117;
  --code-border-color: #0d1117;
}
