$theme-color: #4169e1;

:root {
  --theme-main-color: #203061;

  // Html
  --html-color: #ffffff;
  --background-color: #111111;

  // Navbar
  --navbar-background: #203061;
  // --navbar-background: #111111ee;
  --navbar-border-color: #333;
  --navbar-link: #ffffff;
  --navbar-link-hover: #{$theme-color};
  --navbar-link-hover-background: #3f3f46;
  --navbar-logo-inner: #fff;
  --navbar-logo-outer: #{$theme-color};
  --navbar-settings: #fff;

  // Sidebar
  --themer-content-background: #000000;

  // Card
  --card-title: #ffffff;
  --card-title-hover: #{$theme-color};
  --card-date: #c8c8c8;
  --card-category-info: #3f3f46;
  --card-category-hover-background: #71717a;

  // Series Card
  --card-series-background: #161b22;
  --card-series-border: #30363d;
  --card-series: #fafafa;
  --card-series-hover-background: #71717a;
  --card-series-hover-span: #fdfdfd;

  // Featured Card
  --card-featured-background: #{rgba($theme-color, 0.05)};
  --card-featured-border: #{$theme-color};

  --container-header: #{$theme-color};
  --main-header-color: #d4d4da;

  // Markdown
  --markdown-color: #babac2;
  --code-background-color: transparent;
  --markdown-tags-color: #ffb951;
  --markdown-h1-color: #d4d4da;
  --markdown-h2-color: #d008eb;
  --markdown-h3-color: #ff2ea4;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #40d0f0;
  --markdown-a-hover-color: #40d0f0c0;

  --code-background-color: #01790b07;

  // Navbar
  --navbar-link-hover: #{$theme-color};
  --navbar-link-hover-background: #3f3f46;
  --navbar-logo-outer: #{$theme-color};

  // Card
  --card-title-hover: #{$theme-color};

  --container-header: #{$theme-color};
}
