:root {
  // Html
  --html-color: #ffffff;
  --background-color: #111111;

  // Navbar
  --navbar-background: #111111ee;
  --navbar-border-color: #333;
  --navbar-link: #ffffff;
  --navbar-link-hover: #00dc82;
  --navbar-link-hover-background: #3f3f46;
  --navbar-logo-inner: #fff;
  --navbar-logo-outer: #00dc82;
  --navbar-settings: #fff;

  // Sidebar
  --themer-content-background: #000000;

  // Card
  --card-title: #ffffff;
  --card-title-hover: #00dc82;
  --card-date: #c8c8c8;
  --card-category-info: #3f3f46;
  --card-category-hover-background: #71717a;

  // Series Card
  --card-series-background: #161b22;
  --card-series-border: #30363d;
  --card-series: #fafafa;
  --card-series-hover-background: #71717a;
  --card-series-hover-span: #fdfdfd;

  // Featured Card
  --card-featured-background: #00dc8217;
  --card-featured-border: #00dc82;

  --container-header: #00dc82;
  --main-header-color: #d4d4da;

  // Markdown
  --markdown-color: #babac2;
  --code-background-color: transparent;
  --markdown-tags-color: #ffb951;
  --markdown-h1-color: #d4d4da;
  --markdown-h2-color: #d008eb;
  --markdown-h3-color: #ff2ea4;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #40d0f0;
  --markdown-a-hover-color: #40d0f0c0;

  --code-background-color: #01790b07;

  --theme-main-color: #00dc82;

  // Navbar
  --navbar-link-hover: #00dc82;
  --navbar-link-hover-background: #3f3f46;
  --navbar-logo-outer: #00dc82;

  // Card
  --card-title-hover: #00dc82;

  // Featured Card
  --card-featured-background: #00dc8217;
  --card-featured-border: #00dc82;

  --container-header: #00dc82;
}

[data-theme="light"] {
  --html-color: #272727;
  --background-color: #fafafa;

  // Navbar
  --navbar-background: #fafafaee;
  --navbar-border-color: #eaeaea;
  --navbar-link: #272727;
  --navbar-link-hover-background: #3f3f46;
  --navbar-logo-inner: #2d2d2d;
  --navbar-settings: #2d2d2d;

  // Sidebar
  --themer-content-background: #0d1117;

  // Card
  --card-title: #2d2d2d;
  --card-date: #2d2d2d;
  --card-category-info: #3f3f46;
  --card-category-hover-background: #71717a;

  // Series Card
  --card-series-background: #161b22;
  --card-series-border: #30363d;
  --card-series: #fafafa;
  --card-series-hover-background: #71717a;
  --card-series-hover-span: #fdfdfd;

  --code-background-color: #0d1117;
  --code-border-color: #0d1117;

  --main-header-color: #2d2d2d;

  // Markdown
  --markdown-color: #2d2d2d;
  --markdown-h1-color: #2d2d2d;
}
