.blog-index-container {
  display: grid;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 20px;
}

.blog-title {
  @include page-headers(min(8vw, 50px));
}

.featured-header {
  align-self: flex-start;
  line-height: 1;
  margin: 0;
  margin-bottom: 15px;
  padding-left: 10px;
  text-align: center;
}

.blog-index-posts-container {
  max-width: 800px;
  width: 100%;
  justify-self: center;
  display: grid;
}

.featured-cards-container {
  display: grid;
  justify-self: center;
  // margin-bottom: 30px;
  z-index: 1;
  width: 100%;
}
