.readme-container {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  margin-right: 6%;
  align-items: center;
  margin-bottom: 20px;
}

.readme-title {
  @include page-headers(min(15vw, 50px));
}

.readme-source-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--html-c);
  border-bottom: 1px solid #17adee;

  &:hover {
    color: #86d8fc;
  }
}

.readme-markdown {
  max-width: 56rem;
  word-wrap: break-word;

  h1:first-of-type {
    // color: #17adee;
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: #17adee;
    font-weight: bold;
  }
}
