.navigation-container {
  z-index: 100;
  display: grid;
  // position: sticky;
  // top: 0px;
  width: 100%;
  background-color: var(--nav-bc);
  height: 50px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 0.25rem;

  // &.expanded {
  //   background-color: var(--nav-bc-expanded);
  // }

  &.scrolled {
    transition: background-color 0.2s ease-in;
    background-color: var(--nav-bc-scrolled);
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo-container {
  height: 50px;
  display: none;
}

.navbar-logo-anchor {
  height: 25px;
  width: 35px;
  justify-self: center;
}

.navbar-logo {
  height: 25px;
  // width: 35px;
}

.dropdown-navigation {
  display: none;
  position: absolute;
  top: 16px;
  right: 0;
}

.dropdown-navigation-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.dropdown-navigation-button-icon {
  fill: var(--nav-dd-svg);
  height: 18px;
  width: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      fill: #1b9bd1;
      transform: rotate(90deg);
      transition: 0.2s ease-in-out;
    }
  }
}

.navbar-links {
  letter-spacing: 0.03em;
  background: none;
  justify-content: center;

  &.expanded {
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    display: flex;
    padding: 20px 0;
    margin-top: 0px;
    background-color: #111111;
    position: sticky;
    justify-content: start;
    height: min-content;
    // width: 100vw;
    width: 100%;
    z-index: 100;
    user-select: none;
    flex-direction: column;

    .navbar-link:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &.expanded.scrolled {
    transition: background-color 0.2s ease-in;
    background-color: #294696d8;
  }
}

.navbar-link {
  padding: 0px 13px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: var(--navbar-link);
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      color: var(--nav-lh);
    }
  }

  &.active {
    color: var(--nav-lh);
  }
}
