<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ericarthurc" />
    <meta name="msapplication-TileColor" content="#0d1017">
    <meta name="theme-color" content="#0d1017">
    <title>{% block title %}{{ title }}{% endblock %}EricArthurC</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css" />
    {% block head %}{% endblock %}
</head>

<body>
    <script>
        const storageTheme = localStorage.getItem("theme") || "dark";
        const colorTheme = localStorage.getItem("color") || "green";
        document.documentElement.setAttribute("data-theme", storageTheme);
        document.documentElement.setAttribute("data-color", colorTheme);
    </script>
    <header>
        {% include "./includes/navbar.html.j2" %}
    </header>
    <div class="wip-container">
        <div class="wip">
            <span class="wip-title">Site is under active development!</span>
            <span class="wip-details">Many things are broken or placeholder</span>
        </div>
    </div>

    {% block content %}{% endblock %}
    <script src="/public/js/sidebar.bundle.js"></script>
</body>

</html>