<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Aerlon" />
    <meta name="msapplication-TileColor" content="#0d1017">
    <meta name="theme-color" content="#0d1017">
    <title>Aerlon</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css" />
    {% block head %}{% endblock %}
    <script src="/public/js/htmx.min.js"></script>
</head>

<body>
    <div class="wip-container">
        <span class="wip-title">Version: {{ env!("CARGO_PKG_VERSION") }}α</span>
    </div>

    <div class="stars"></div>
    <div class="stars2"></div>

    {% block content %}{% endblock %}
</body>

</html>