.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  justify-items: center;
}

.header-logo {
  height: 75px;
}

.header-graphic {
  height: 35px;
  width: 93%;
  margin: 0 3%;
  stroke: #ffffff;
}
