.header {
    // height: 120px;
    margin-top: 15px;
    display: grid;
    justify-items: center;
}

.header-logo {
    height: 80px;
}

.header-graphic {
    height: 40px;
    width: 93%;
    margin: 0 3%;
    stroke: #82c361;
}

.header-graphic * {
    // stroke-dasharray: 1000;
    // stroke-dashoffset: 1000;
    // stroke: var(--header-logo-color);
    animation: draw 4s ease-in forwards, colors 5s ease-in;
    width: 93%;
    margin: 0 3%;
}

// .circle-1 {
//     animation-delay: 0.9s, 0s;
// }

// .circle-2 {
//     animation-delay: 0s, 0s;
// }

// .circle-3 {
//     animation-delay: 0s, 0s;
// }

// .circle-4 {
//     animation-delay: 0s, 0s;
// }

// .circle-5 {
//     animation-delay: 1.13s, 0s;
// }

// .circle-6 {
//     animation-delay: 1.55s, 0s;
// }

// .circle-7 {
//     animation-delay: 0.75s, 0s;
// }

// @keyframes colors {
//     0% {
//         stroke: #01b419;
//     }

//     40% {
//         stroke: var(--header-logo-color);
//     }
// }

// @keyframes draw {
//     to {
//         stroke-dashoffset: 0;
//     }
// }