.navigation {
  display: grid;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  gap: 20px;
  justify-self: center;
  justify-content: center;
  // background-color: #379c1e;
  // border-radius: 0.25em;
  // padding: 4px 20px;
}

.navbar-link {
  font-size: 19px;
  font-weight: 500;
  // letter-spacing: 0.07em;
  color: var(--navbar-link-color);
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      color: var(--navbar-link-hover-color);
    }
  }

  &.active {
    border-bottom: 2px solid var(--navbar-link-hover-color);
  }
}
