.navigation-container {
  display: grid;
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 15px;
  background-color: var(--navbar-background);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
}

.navbar-logo {
  height: 37px;
  width: 37px;
  margin-right: 10px;
}

.navbar-logo-outer {
  fill: var(--navbar-logo-outer);
}

.navbar-logo-inner {
  fill: var(--navbar-logo-inner);
}

.side-navbar {
  display: none;
}

.navbar-links {
  letter-spacing: 0.03em;
}

.navbar-link {
  align-self: center;
  padding: 0px 10px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  color: var(--navbar-link);
  text-decoration: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  @media (hover: hover) {
    &:hover {
      color: var(--navbar-link-hover);
    }
  }

  &.active {
    color: var(--navbar-link-hover);
  }
}
