.themer-dropdown {
  height: 22px;
  width: 22px;
  align-self: center;
  margin: 0 10px;
}

.themer-dropdown-button {
  fill: var(--navbar-settings);
  height: 22px;
  width: 22px;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;

  &.spun {
    fill: var(--theme-main-color);
    transform: rotate(90deg);
  }
}

@media (hover: hover) and (pointer: fine) {
  .themer-dropdown-button:hover {
    fill: var(--theme-main-color);
    transform: rotate(90deg);
  }
}

.themer-dropdown-content {
  display: none;
  position: absolute;
  transform: translateX(-50px);
  background-color: #1f242c;
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 4px 8px;
  border-radius: 0.25rem;
  border: 1px solid #30363d;
  color: #fff;

  text-align: center;

  &.show {
    display: block;
  }

  &:focus {
    outline: 0;
  }
}

// placeholder
.theme-div {
  cursor: pointer;
}

// placeholder
.theme-label {
  margin: 10px 0;
}

// .theme-switcher {
//   display: flex;
//   align-self: center;
// }

// .theme-switcher-container {
//   position: relative;
//   display: inline-block;
//   justify-content: flex-end;
//   width: 35px;
//   height: 19.5px;
// }

// .theme-switcher-container-span {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #010409;
//   border-radius: 34px;
// }

// .theme-switcher-container-span::before {
//   position: absolute;
//   content: "";
//   height: 16px;
//   width: 16px;
//   left: 3.5px;
//   bottom: 2px;
//   background-color: #e4f0fc;
//   transition: 0.4s;
//   border-radius: 50%;
// }

// .theme-switcher-container-input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .theme-switcher-container-input:checked
//   + .theme-switcher-container-span::before {
//   background-color: #010409;
// }

// .theme-switcher-container-input:checked + .theme-switcher-container-span {
//   background-color: #e4f0fc;
// }

// .theme-switcher-container-input:checked
//   + .theme-switcher-container-span::before {
//   -webkit-transform: translateX(12.5px);
//   -ms-transform: translateX(12.5px);
//   transform: translateX(12.5px);
// }
