.wip-container {
  display: grid;
  margin: 0 4%;
}

.wip {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  padding: 15px 15px 15px 15px;
  background: #ffa60010;
  border: 1px solid #ffa500;
  border-radius: 0.4rem;
  margin-bottom: 20px;
  height: min-content;
}

.wip-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ff3604;
}
