<div class="header">
    <div class="header-logo">
        <svg width="100%" height="100%" viewBox="0 0 1500 1500" version="1.1"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path id="shape_fill" d="M1500,750l-750,-750l-750,750l750,750l750,-750Z" style="fill:none;" />
            <g>
                <g>
                    <path
                        d="M1185.85,749.999l-435.926,-435.923l-298.059,298.059l167.329,-0l130.977,-130.978l268.811,268.842l-268.811,268.844l-130.977,-130.978l-167.329,0l298.059,298.059l435.926,-435.925Z"
                        style="fill:#51b13a;" />
                    <path
                        d="M590.109,802.2l0.001,-104.4l-369.145,0l529.084,-529.084l449.843,449.842l168.666,0l-618.558,-618.558l-750,750l750,750l618.558,-618.558l-168.666,-0l-449.843,449.842l-529.084,-529.084l369.144,-0Z"
                        style="fill:#82c361;" />
                </g>
            </g>
        </svg>
    </div>
    <div class="header-graphic">
        <svg width="100%" height="100%" viewBox="0 0 275 29" version="1.1"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-miterlimit:1.5;">
            <g transform="matrix(1,0,0,1,-308.602,-261.098)">
                <g transform="matrix(1,0,0,1,-30,0)">
                    <g>
                        <g transform="matrix(1,0,0,1,154.446,48.4205)">
                            <circle class="circle-5" cx="345.5" cy="219.5" r="2.5"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                        <g transform="matrix(1,0,0,1,31.4872,45.5999)">
                            <circle class="circle-3" cx="345.5" cy="219.5" r="2.5"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                        <g transform="matrix(1,0,0,1,-0.578834,-0.255393)">
                            <path
                                d="M380.066,267.855L382.582,270.372L429.582,270.372L433.906,273.582L495,273.582L498.025,270.556"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                    </g>
                    <g>
                        <g transform="matrix(1,0,0,1,263.278,47.6759)">
                            <circle class="circle-7" cx="345.5" cy="219.5" r="2.5"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                        <g transform="matrix(0.909091,0,0,1,51.2727,-1.86528)">
                            <path d="M553.191,271.348L597.191,271.348L603.814,277.368L610.506,271.284"
                                style="fill:none;stroke-width:1.74px;" />
                        </g>
                    </g>
                    <g>
                        <g transform="matrix(1,0,0,1,-2.89562,50.1759)">
                            <circle class="circle-1" cx="345.5" cy="219.5" r="2.5"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                        <g transform="matrix(1,0,0,1,0.104384,0.0173973)">
                            <path d="M427,273.309L378,273.309L374.349,269.658L345,269.658"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                    </g>
                    <g>
                        <g transform="matrix(1,0,0,1,254.451,47.1347)">
                            <circle class="circle-6" cx="345.5" cy="219.5" r="2.5"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                        <g transform="matrix(1,0,0,1,35.7992,65.6618)">
                            <circle class="circle-4" cx="345.5" cy="219.5" r="2.5"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                        <path d="M383.075,282.925L386,280L538,280L551.382,266.618L597,266.618"
                            style="fill:none;stroke-width:1.67px;" />
                    </g>
                    <g transform="matrix(1,0,0,1,1.53445,3.39193)">
                        <g transform="matrix(1,0,0,1,19,53.8091)">
                            <circle class="circle-2" cx="345.5" cy="219.5" r="2.5"
                                style="fill:none;stroke-width:1.67px;" />
                        </g>
                        <path d="M367,273.309L535.348,273.309L548.375,260.282L577.432,260.282"
                            style="fill:none;stroke-width:1.67px;" />
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>