<div class="navigation-container">
    <nav hx-boost="true" class="navbar" id="navbar">
        <div>
            {# logo #}
        </div>
        <div class="navbar-links" id="navbar-links">
            <a class="navbar-link" href="/">Station</a>
            <a class="navbar-link{%- if uri=="/blog" %} active{% endif %}" href="/blog">Blog</a>
            {# <a class="navbar-link{%- if uri==" /series" %} active{% endif %}" href="/series">Series</a> #}
            <a class="navbar-link{%- if uri=="/benchmarks" %} active{% endif %}" href="/benchmarks">Benchmarks</a>
            <a class="navbar-link{%- if uri=="/rng" %} active{% endif %}" href="/rng">RNG</a>
            <a class="navbar-link{%- if uri=="/readme" %} active{% endif %}" href="/readme">Readme</a>
        </div>
        <div class="dropdown-navigation">
            <button class="dropdown-navigation-button">
                <svg class="dropdown-navigation-button-icon" id="dropdown-navigation-button" width="100%" height="100%"
                    viewBox="0 0 177 168" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
                    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <path
                        d="M176.5,151.875c0,-2.918 -2.369,-5.287 -5.287,-5.287l-165.926,0c-2.918,0 -5.287,2.369 -5.287,5.287l0,10.574c0,2.917 2.369,5.286 5.287,5.286l165.926,0c2.918,0 5.287,-2.369 5.287,-5.286l0,-10.574Z" />
                    <path
                        d="M176.5,78.581c0,-2.918 -2.369,-5.287 -5.287,-5.287l-165.926,0c-2.918,0 -5.287,2.369 -5.287,5.287l0,10.573c0,2.918 2.369,5.287 5.287,5.287l165.926,0c2.918,0 5.287,-2.369 5.287,-5.287l0,-10.573Z" />
                    <path
                        d="M176.5,5.287c0,-2.918 -2.369,-5.287 -5.287,-5.287l-165.926,0c-2.918,0 -5.287,2.369 -5.287,5.287l0,10.573c0,2.918 2.369,5.287 5.287,5.287l165.926,0c2.918,0 5.287,-2.369 5.287,-5.287l0,-10.573Z" />
                </svg>
            </button>
        </div>
        <div>
            {# right padd #}
        </div>
    </nav>
</div>