<section class="navigation">
    <nav class="navbar" id="navbar">
        <a class="navbar-link{%- if true %} active{% endif %}" href="/">Blog</a>
        <a class="navbar-link" href="/series">Series</a>
        <a class="navbar-link" href="/about">About</a>
    </nav>
</section>