<div class="themer-container">
    <div class="themer-dropdown">
        <svg class="themer-dropdown-button" id="themer-dropdown-button" width="100%" height="100%" viewBox="0 0 177 168"
            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path
                d="M176.5,151.875c0,-2.918 -2.369,-5.287 -5.287,-5.287l-165.926,0c-2.918,0 -5.287,2.369 -5.287,5.287l0,10.574c0,2.917 2.369,5.286 5.287,5.286l165.926,0c2.918,0 5.287,-2.369 5.287,-5.286l0,-10.574Z" />
            <path
                d="M176.5,78.581c0,-2.918 -2.369,-5.287 -5.287,-5.287l-165.926,0c-2.918,0 -5.287,2.369 -5.287,5.287l0,10.573c0,2.918 2.369,5.287 5.287,5.287l165.926,0c2.918,0 5.287,-2.369 5.287,-5.287l0,-10.573Z" />
            <path
                d="M176.5,5.287c0,-2.918 -2.369,-5.287 -5.287,-5.287l-165.926,0c-2.918,0 -5.287,2.369 -5.287,5.287l0,10.573c0,2.918 2.369,5.287 5.287,5.287l165.926,0c2.918,0 5.287,-2.369 5.287,-5.287l0,-10.573Z" />
        </svg>
        <div tabindex="0" class="themer-dropdown-content" id="themer-dropdown-content">
            <div class="themer-content-themes-container">
                <span class="theme-switch-label">WIP</span>
                <div class="themes-container-title">
                    <span>Switch Theme</span>
                </div>
                <div class="theme-label">
                    <span class="theme-switch-label">Light</span>
                    <div class="theme-switcher">
                        <label class="theme-switcher-container">
                            <input class="theme-switcher-container-input" id="themeSwitch" type="checkbox" />
                            <span class="theme-switcher-container-span"></span>
                        </label>
                    </div>
                    <span class="theme-switch-label">Dark</span>
                </div>
                <div class="themes-container-title">
                    <span>Pick a Color</span>
                </div>
                {# placeholder class #}
                <div class="theme-label">
                    {# placeholder class #}
                    <span class="theme-div green" name="colors" data-color="green"></span>
                    <span class="theme-div blue" name="colors" data-color="blue"></span>
                    <span class="theme-div red" name="colors" data-color="red"></span>
                    <span class="theme-div orange" name="colors" data-color="orange"></span>
                    <span class="theme-div pink" name="colors" data-color="pink"></span>
                    <span class="theme-div purple" name="colors" data-color="purple"></span>
                </div>
            </div>
        </div>
    </div>
</div>