.benchmarks-container {
  display: grid;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 20px;
  text-align: center;
}

.benchmarks-title {
  margin: 15px 0;
  font-size: min(15vw, 50px);
  text-align: center;
}
