@media only screen and (min-width: 651px) {
  // .cards-container {
  //   grid-template-columns: 1fr 1fr;
  //   column-gap: 2rem;
  // }
}

@media only screen and (min-width: 1025px) {
  .navbar {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 960px) {
  .blog-container {
    margin: 0 5%;
  }
}

@media screen and (max-width: 650px) {
  .markdown-container {
    font-size: 17px;
  }

  code {
    font-size: 14px;
  }
}

@media only screen and (max-width: 530px) {
  .navigation-container {
    position: sticky;
    top: 0px;
    max-width: 100%;
    border-radius: 0;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr;
  }

  .navbar-links {
    display: none;
  }

  .navbar-logo-container {
    display: grid;
    // height: 50px;
    align-items: center;
  }

  .dropdown-navigation {
    display: flex;
    margin-right: 11px;
  }

  .side-navbar {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 430px) {
  ::-webkit-scrollbar {
    width: 6px;

    &:horizontal {
      height: 6px;
    }
  }

  code {
    font-size: 12px;
  }

  pre code {
    padding-left: 1em;
    padding-right: 1em;
  }
}
