.code {
  color: #eeffff;
  background-color: #212121;
}

.comment,
.punctuation.definition.comment {
  color: #4a4a4a;
  font-style: italic;
}
.variable,
.string .constant.other.placeholder {
  color: #eeffff;
}
.constant.other.color {
  color: #ffffff;
}
.invalid,
.invalid.illegal,
.invalid.broken {
  color: #ffffff;
  background-color: #ff5370;
}
.invalid.unimplemented {
  color: #ffffff;
  background-color: #c3e88d;
}
.invalid.deprecated {
  color: #ffffff;
  background-color: #c792ea;
}
.keyword,
.storage.type,
.storage.modifier {
  color: #c792ea;
}
.storage.type,
.keyword.control {
  font-style: italic;
}
.keyword.operator,
.constant.other.color,
.punctuation,
.meta.tag,
.punctuation.definition.tag,
.punctuation.separator.inheritance.php,
.punctuation.definition.tag.html,
.punctuation.definition.tag.begin.html,
.punctuation.definition.tag.end.html,
.punctuation.section.embedded,
.keyword.other.template,
.keyword.other.substitution {
  color: #89ddff;
}
.entity.name.tag,
.meta.tag.sgml,
.markup.deleted.git_gutter {
  color: #f07178;
}
.entity.name.function,
.meta.function-call,
.variable.function,
.support.function,
.keyword.other.special-method,
.meta.block-level {
  color: #82aaff;
}
.support.other.variable,
.string.other.link {
  color: #f07178;
}
.constant.numeric,
.constant.language,
.support.constant,
.constant.character,
.variable.parameter,
.keyword.other.unit {
  color: #f78c6c;
}
.string,
.constant.other.symbol,
.constant.other.key,
.entity.other.inherited-class,
.markup.heading,
.markup.inserted.git_gutter,
.meta.group.braces.curly
  .constant.other.object.key.js
  .string.unquoted.label.js {
  color: #c3e88d;
}
.entity.name.class,
.entity.name.type.class,
.support.type,
.support.class,
.support.other.namespace.use.php,
.meta.use.php,
.support.other.namespace.php,
.markup.changed.git_gutter,
.support.type.sys-types {
  color: #ffcb6b;
}
.source.css .support.type,
.source.sass .support.type,
.source.scss .support.type,
.source.less .support.type,
.source.stylus .support.type {
  color: #b2ccd6;
}
.entity.name.module.js,
.variable.import.parameter.js,
.variable.other.class.js {
  color: #ff5370;
}
.variable.language {
  color: #ff5370;
  font-style: italic;
}
.entity.name.method.js {
  color: #82aaff;
}
.meta.class-method.js .entity.name.function.js,
.variable.function.constructor {
  color: #82aaff;
}
.entity.other.attribute-name {
  color: #c792ea;
}
.text.html.basic .entity.other.attribute-name.html,
.text.html.basic .entity.other.attribute-name {
  color: #ffcb6b;
  font-style: italic;
}
.entity.other.attribute-name.class {
  color: #ffcb6b;
}
.source.sass .keyword.control {
  color: #82aaff;
}
.markup.inserted {
  color: #c3e88d;
}
.markup.deleted {
  color: #ff5370;
}
.markup.changed {
  color: #c792ea;
}
.string.regexp {
  color: #89ddff;
}
.constant.character.escape {
  color: #89ddff;
}
.constant.numeric.line-number.find-in-files {
  color: #c17e70;
}
.entity.name.filename.find-in-files {
  color: #c3e88d;
}
.tag.decorator.js .entity.name.tag.js,
.tag.decorator.js .punctuation.definition.tag.js {
  color: #82aaff;
  font-style: italic;
}
.source.js .constant.other.object.key.js .string.unquoted.label.js {
  color: #ff5370;
  font-style: italic;
}
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .string.quoted.double.json,
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .punctuation.definition.string {
  color: #c3e88d;
}
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .string.quoted.double.json,
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .punctuation.definition.string {
  color: #c792ea;
}
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .string.quoted.double.json,
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .punctuation.definition.string {
  color: #f07178;
}
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .string.quoted.double.json,
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .punctuation.definition.string {
  color: #82aaff;
}
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .string.quoted.double.json,
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .punctuation.definition.string {
  color: #c17e70;
}
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .string.quoted.double.json,
.source.json
  .meta
  .meta
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .punctuation.definition.string {
  color: #ff5370;
}
.source.json
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .string.quoted.double.json,
.source.json
  .meta
  .meta
  .meta
  .meta.structure.dictionary.json
  .punctuation.definition.string {
  color: #f78c6c;
}
.source.json .meta .meta.structure.dictionary.json .string.quoted.double.json,
.source.json
  .meta
  .meta.structure.dictionary.json
  .punctuation.definition.string {
  color: #ffcb6b;
}
.source.json .meta.structure.dictionary.json .string.quoted.double.json,
.source.json .meta.structure.dictionary.json .punctuation.definition.string {
  color: #c792ea;
}
.text.html.markdown,
.punctuation.definition.list_item.markdown {
  color: #eeffff;
}
.text.html.markdown .markup.raw.inline {
  color: #c792ea;
}
.text.html.markdown .punctuation.definition.raw.markdown {
  color: #65737e;
}
.markdown.heading,
.markup.heading,
.markup.heading .entity.name,
.markup.heading.markdown .punctuation.definition.heading.markdown {
  color: #c3e88d;
}
.markup.italic {
  color: #f07178;
  font-style: italic;
}
.markup.bold,
.markup.bold .string {
  color: #f07178;
  font-weight: bold;
}
.markup.bold .markup.italic,
.markup.italic .markup.bold,
.markup.quote .markup.bold,
.markup.bold .markup.italic .string,
.markup.italic .markup.bold .string,
.markup.quote .markup.bold .string {
  font-weight: bold;
  font-style: italic;
}
.markup.underline {
  color: #f78c6c;
  text-decoration: underline;
}
.markup.quote .punctuation.definition.blockquote.markdown {
  color: #65737e;
  background-color: #65737e;
}
.string.other.link.title.markdown {
  color: #82aaff;
}
.string.other.link.description.title.markdown {
  color: #c792ea;
}
.constant.other.reference.link.markdown {
  color: #ffcb6b;
}
.markup.raw.block {
  color: #c792ea;
}
.markup.raw.block.fenced.markdown {
  background-color: #000000;
}
.punctuation.definition.fenced.markdown {
  background-color: #000000;
}
.markup.raw.block.fenced.markdown,
.variable.language.fenced.markdown,
.punctuation.section.class.end {
  color: #eeffff;
}
.variable.language.fenced.markdown {
  color: #65737e;
}
.text.html.markdown .punctuation.definition {
  color: #4a4a4a;
}
.text.html.markdown .meta.disable-markdown .punctuation.definition {
  color: #89ddff;
}
.meta.separator {
  color: #65737e;
  background-color: #000000;
  font-weight: bold;
}
.acejump.label.blue {
  color: #ffffff;
  background-color: #82aaff;
}
.acejump.label.green {
  color: #ffffff;
  background-color: #c3e88d;
}
.acejump.label.orange {
  color: #ffffff;
  background-color: #f78c6c;
}
.acejump.label.purple {
  color: #ffffff;
  background-color: #c792ea;
}
.sublimelinter.mark.warning {
  color: #ffcb6b;
}
.sublimelinter.gutter-mark {
  color: #ffffff;
}
.sublimelinter.mark.error {
  color: #ff5370;
}
.sublimelinter.annotations {
  background-color: #c17e70;
}
.markup.ignored.git_gutter {
  color: #65737e;
}
.markup.untracked.git_gutter {
  color: #65737e;
}
.markup.inserted.git_gutter {
  color: #c3e88d;
}
.markup.changed.git_gutter {
  color: #ffcb6b;
}
.markup.deleted.git_gutter {
  color: #ff5370;
}
.brackethighlighter.default {
  color: #b2ccd6;
}
.brackethighlighter.curly {
  color: #89ddff;
}
.brackethighlighter.round {
  color: #89ddff;
}
.brackethighlighter.square {
  color: #89ddff;
}
.brackethighlighter.angle {
  color: #89ddff;
}
.brackethighlighter.tag {
  color: #89ddff;
}
.brackethighlighter.c_define {
  color: #c792ea;
}
.brackethighlighter.quote {
  color: #89ddff;
}
.brackethighlighter.unmatched {
  color: #ff5370;
}
