$tmc: #185c9c;

:root {
  // used for when I am being lazy and just want to grab the main color for now
  --tmc: #{$tmc};

  // Html
  --html-c: #ffffff;
  --html-bc: #181818;
  // --html-bc: linear-gradient(to bottom, #000000 50%, #14102e 100%);
  // --html-bc: linear-gradient(to bottom, #324372 10%, #231c50 100%);

  // Nav
  --nav-bc: #0a0a0a;
  --nav-bc-expanded: #0e0e0e;
  --nav-bc-scrolled: #294696d8;
  --nav-l: #ffffff;
  --nav-lh: #b2def0;
  --nav-lhbc: #3f3f46;
  --nav-dd-svg: #fff;

  // Card
  --card-tc: #ffffff;
  --card-th: #3b57d4;
  --card-dc: #ffffff;
  --card-cat: #161616;
  --card-cathbc: #525252;

  // Featured Card
  --card-fbc: #{$tmc};

  // Series Card
  --card-serbc: #161b22;
  --card-serbrdc: #30363d;
  --card-ser: #fafafa;
  --card-serhbc: #71717a;
  --card-serhs: #fdfdfd;

  --container-header: #{$tmc};
  --main-header-color: #d4d4da;

  // Markdown
  --markdown-color: #ffffff;
  --code-background-color: transparent;
  --markdown-tags-color: #ffb951;
  --markdown-h1-color: #ffffff;
  --markdown-h2-color: #d008eb;
  --markdown-h3-color: #ff2ea4;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #40d0f0;
  --markdown-a-hover-color: #40d0f0c0;

  --code-background-color: #01790b07;

  // wip
  --wip-bc: #185c9c;
}

$starFieldWidth: 4000;
$starFieldHeight: 1000;
$starStartOffset: 600px;

@function create-stars($n) {
  $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";

  @for $i from 2 through $n {
    $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";
  }
  @return unquote($stars);
}

.stars {
  z-index: -11;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: create-stars(150);
  animation: animStar 1000s ease-in-out infinite;
  &:after {
    content: " ";
    top: -$starStartOffset;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars(150);
  }
}

.stars2 {
  z-index: -10;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: create-stars(150);
  animation: animStar 700s linear infinite;
  &:after {
    content: " ";
    top: -$starStartOffset;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars(100);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-#{$starFieldHeight}px)
      translateX(-#{$starFieldWidth}px);
  }
}
