.series-cards-container {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.series-card-anchor {
  padding: 11px 10px;
  margin: 10px 8px;
  text-decoration: none;
  background: var(--card-serbc);
  border-radius: 0.25rem;
  border: 1px solid var(--card-serbrdc);
  line-height: 1;
  text-align: center;

  &:hover {
    background: var(--card-serhbc);
  }

  &:hover span {
    color: var(--card-serhs);
  }
}

.series-card-info {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--card-ser);
}

.cards-container {
  display: grid;
  width: 100%;
  // grid-template-columns: auto;
  // justify-items: center;
  // justify-content: center;
}

// .featured-posts {
//   // padding: 20px;
//   background: var(--card-fbc);
//   border-radius: 0.2rem;
//   // margin-bottom: 15px;
//   height: min-content;
//   width: 100%;

//   &:not(:last-child) {
//     margin-bottom: 20px;
//   }
// }

.featured .card-anchor {
  background-color: #0f0f0f7e;
  border: 1px solid #f7f7f759;

  &:hover {
    background-color: #20297e79;
  }
}

.card {
  display: grid;
  margin-bottom: 20px;
  height: min-content;
  width: 100%;
}

.card-anchor {
  border: 1px solid #5a68e2;
  background-color: #22367542;
  border-radius: 0.2rem;
  text-decoration: none;
  text-align: center;
  height: min-content;
  padding: 13px;
  margin-bottom: 6px;

  &:hover {
    background-color: #173597;
  }
}

.card-header-info {
  width: 100%;
  display: grid;
}

.card-title {
  margin: 0;
  margin-bottom: 6px;
  color: var(--card-tc);
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  &::first-letter {
    text-transform: uppercase;
  }
}

.card-date {
  font-size: 16px;
  margin: 0;
  color: var(--card-dc);
}

.card-categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 6px;
  justify-content: center;
}

.card-category {
  text-decoration: none;
  display: grid;
}

.card-category-info {
  margin: 0;
  background: var(--card-cat);
  border-radius: 0.25rem;
  border: 1px solid #2e2e2e;
  font-size: 15px;
  line-height: 1;
  color: #fafafa;
  padding: 4px 8px 6px 8px;

  // &:hover {
  //   background: var(--card-cathbc);
  // }
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .card-category:not(:last-child) {
    margin-right: 6px;
  }
}
