.series-cards-container {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.series-card-anchor {
  padding: 11px 10px;
  margin: 10px 8px;
  text-decoration: none;
  background: var(--card-serbc);
  border-radius: 0.25rem;
  border: 1px solid var(--card-serbrdc);
  line-height: 1;
  text-align: center;

  &:hover {
    background: var(--card-serhbc);
  }

  &:hover span {
    color: var(--card-serhs);
  }
}

.series-card-info {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--card-ser);
}

.cards-container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  justify-content: center;
}

.featured-posts {
  // padding: 20px;
  background: var(--card-fbc);
  border-radius: 0.2rem;
  // margin-bottom: 15px;
  height: min-content;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.featured-posts .card {
  margin-bottom: 0px;
  padding: 15px;
}

.card-box {
  background: #ffffff1e;
  border-radius: 0.2rem;
  height: min-content;
  width: 100%;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin-bottom: 30px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  padding: 15px;
}

.card-header-info {
  width: 100%;
  display: grid;
  margin-bottom: 8px;
}

.card-header {
  padding: 5px 0;
}

.card-header-anchor {
  text-decoration: none;
}

.card-title {
  color: var(--card-tc);
  font-size: 22px;
  font-weight: 700;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin: 0;

  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: var(--card-th);
  }
}

.card-date {
  font-size: 16px;
  color: var(--card-dc);
}

.card-snippet {
  line-height: 1.6;
  font-size: 16px;
  color: var(--card-dc);
  margin: 0;
}

.card-categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 6px;
}

.card-category {
  text-decoration: none;
  display: grid;
}

.card-category-info {
  background: var(--card-cat);
  border-radius: 0.25rem;
  font-size: 13px;
  color: #fafafa;
  padding: 4px 8px;

  &:hover {
    background: var(--card-cathbc);
  }
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .card-category:not(:last-child) {
    margin-right: 6px;
  }
}
