.navigation-container {
  z-index: 100;
  display: grid;
  position: sticky;
  top: 22px;
  width: 100%;
  background-color: var(--nav-bc);
  height: 50px;

  &.expanded {
    background-color: var(--nav-bc-expanded);
    border-bottom: 1px solid var(--tmc);
  }

  &.scrolled {
    transition: background 0.2s ease-in;
    background-color: var(--nav-bc-scrolled);
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  height: 37px;
  width: 37px;
  margin-right: 10px;
}

.dropdown-navigation {
  display: none;
  position: absolute;
  top: 15px;
  right: 0;
}

.dropdown-navigation-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.dropdown-navigation-button-icon {
  fill: var(--nav-dd-svg);
  height: 18px;
  width: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .dropdown-navigation-button-icon:hover {
    fill: #1b9bd1;
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;
  }
}

.navbar-links {
  letter-spacing: 0.03em;
  background: none;
  justify-content: center;

  &.expanded {
    border-bottom: 1px solid var(--tmc);
    display: flex;
    padding: 20px 0;
    margin-top: 50px;
    background-color: #111111;
    position: sticky;
    justify-content: start;
    height: min-content;
    width: 100vw;
    z-index: 100;
    user-select: none;
    flex-direction: column;

    .navbar-link:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &.expanded.scrolled {
    transition: background 0.2s ease-in;
    background-color: #111111ee;
  }
}

.navbar-link {
  padding: 0px 10px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  color: var(--navbar-link);
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      color: var(--nav-lh);
    }
  }

  &.active {
    color: var(--nav-lh);
  }
}
