.dropdown-navigation {
  display: none;
  position: absolute;
  top: 13px;
  right: 0;
}

.dropdown-navigation-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.dropdown-navigation-button-icon {
  fill: var(--navbar-settings);
  height: 18px;
  width: 18px;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .themer-dropdown-button:hover {
    // fill: #237498;
    // transform: rotate(90deg);
  }
}
