{% extends "./layouts/app.html.j2" %}

{% block title %}{% endblock %}

{% block content %}
<div class="main-container">
    <div class="series-cards-container">
        {% for s in series %}
        <a class="series-card-anchor" href="/series/{{ s.series }}">
            <span class="series-card-info">{{ s.series }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}