@font-face {
  font-family: "Gx";
  src: url("/public/fonts/Gx.woff2") format("woff2");
}

@font-face {
  font-family: "CascadiaMono";
  src: url("/public/fonts/CascadiaMono.woff2") format("woff2");
}
