@media only screen and (min-width: 400px) {
  .main-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 600px) {
  .main-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 800px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .navbar {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 1400px) {
  .main-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 960px) {
  .blog-container {
    margin: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .markdown-container {
    font-size: 17px;
  }

  code {
    font-size: 14px;
  }
}

@media only screen and (max-width: 530px) {
  .navbar {
    justify-content: start;
  }

  .navbar-links {
    display: none;
  }

  .navbar-logo {
    margin-left: 24px;
    margin-right: 0px;
  }

  .dropdown-navigation {
    display: flex;
    margin-right: 15px;
  }

  .side-navbar {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 430px) {
  ::-webkit-scrollbar {
    width: 6px;

    &:horizontal {
      height: 6px;
    }
  }

  pre {
  }

  code {
    font-size: 12px;
  }

  pre code {
    padding-left: 1em;
    padding-right: 1em;
  }

  .main-container {
    margin-left: 4%;
    margin-right: 4%;
  }
}
