// @media only screen and (min-width: 400px) {
//   .main-container {
//     margin-left: 8%;
//     margin-right: 8%;
//   }
// }

@media only screen and (min-width: 600px) {
  .main-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 651px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .navbar {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 1400px) {
  .main-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 960px) {
  .blog-container {
    margin: 0 5%;
  }
}

@media screen and (max-width: 650px) {
  .markdown-container {
    font-size: 17px;
  }

  code {
    font-size: 14px;
  }

  // .featured-posts-container {
  //   width: 100%;
  // }

  // .cards-container {
  //   display: flex;
  //   width: 100%;
  // }

  // .card-box {
  //   display: flex;
  //   width: 100%;
  // }

  // .featured-posts .card {
  //   padding: 10px;
  // }

  // .card {
  //   padding: 10px;
  // }

  // .card-header-info {
  //   margin-bottom: 3px;
  //   justify-items: center;
  // }

  // .card-categories {
  //   justify-content: center;
  // }

  // .card-snippet-container {
  //   display: none;
  // }
}

@media only screen and (max-width: 530px) {
  .navbar {
    justify-content: start;
  }

  .navbar-links {
    display: none;
  }

  .navbar-logo {
    margin-left: 24px;
    margin-right: 0px;
  }

  .dropdown-navigation {
    display: flex;
    margin-right: 15px;
  }

  .side-navbar {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 430px) {
  ::-webkit-scrollbar {
    width: 6px;

    &:horizontal {
      height: 6px;
    }
  }

  pre {
  }

  code {
    font-size: 12px;
  }

  pre code {
    padding-left: 1em;
    padding-right: 1em;
  }
}
