$theme-color: #185c9c;

:root {
  --theme-main-color: #{$theme-color};

  // Html
  --html-color: #ffffff;
  --background: linear-gradient(to bottom left, #90dffe, #38a3d1);

  // Navbar
  --navbar-background: #{$theme-color};
  // --navbar-background: #111111ee;
  --navbar-border-color: #333;
  --navbar-link: #ffffff;
  --navbar-link-hover: #0f63e2;
  --navbar-link-hover-background: #3f3f46;
  --navbar-logo-inner: #fff;
  --navbar-logo-outer: #{$theme-color};
  --navbar-settings: #fff;

  // Sidebar
  --themer-content-background: #000000;

  // Card
  --card-title: #ffffff;
  --card-title-hover: #3b57d4;
  --card-date: #c8c8c8;
  --card-category-info: #1f1f1f;
  --card-category-hover-background: #525252;

  // Series Card
  --card-series-background: #161b22;
  --card-series-border: #30363d;
  --card-series: #fafafa;
  --card-series-hover-background: #71717a;
  --card-series-hover-span: #fdfdfd;

  // Featured Card
  --card-featured-background: #{rgba($theme-color, 0.3)};
  // --card-featured-border: #fff;

  --container-header: #{$theme-color};
  --main-header-color: #d4d4da;

  // Markdown
  --markdown-color: #ffffff;
  --code-background-color: transparent;
  --markdown-tags-color: #ffb951;
  --markdown-h1-color: #ffffff;
  --markdown-h2-color: #d008eb;
  --markdown-h3-color: #ff2ea4;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #40d0f0;
  --markdown-a-hover-color: #40d0f0c0;

  --code-background-color: #01790b07;
}

[data-time="day"] {
  --card-date: #fff;
  --background: linear-gradient(to bottom, #69bee9 0%, #2f68aa 100%);
}

[data-time="night"] {
  --background: linear-gradient(to bottom, #00000c 80%, #150800 100%);
}
