$theme-color: #063f74;

:root {
  --theme-main-color: #{$theme-color};

  // Html
  --html-color: #ffffff;
  --background: linear-gradient(to bottom left, #90dffe, #38a3d1);

  // Navbar
  --navbar-background: #{$theme-color};
  // --navbar-background: #111111ee;
  --navbar-border-color: #333;
  --navbar-link: #ffffff;
  --navbar-link-hover: #0f63e2;
  --navbar-link-hover-background: #3f3f46;
  --navbar-logo-inner: #fff;
  --navbar-logo-outer: #{$theme-color};
  --navbar-settings: #fff;

  // Sidebar
  --themer-content-background: #000000;

  // Card
  --card-title: #ffffff;
  --card-title-hover: #{$theme-color};
  --card-date: #c8c8c8;
  --card-category-info: #3f3f46;
  --card-category-hover-background: #71717a;

  // Series Card
  --card-series-background: #161b22;
  --card-series-border: #30363d;
  --card-series: #fafafa;
  --card-series-hover-background: #71717a;
  --card-series-hover-span: #fdfdfd;

  // Featured Card
  --card-featured-background: #{rgba($theme-color, 0.05)};
  --card-featured-border: #{$theme-color};

  --container-header: #{$theme-color};
  --main-header-color: #d4d4da;

  // Markdown
  --markdown-color: #babac2;
  --code-background-color: transparent;
  --markdown-tags-color: #ffb951;
  --markdown-h1-color: #d4d4da;
  --markdown-h2-color: #d008eb;
  --markdown-h3-color: #ff2ea4;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #40d0f0;
  --markdown-a-hover-color: #40d0f0c0;

  --code-background-color: #01790b07;

  // Card
  --card-title-hover: #{$theme-color};

  --container-header: #{$theme-color};
}

[data-time="day"] {
}

[data-time="night"] {
}

[data-sky="0"] {
  --background: #00000c;
}
[data-sky="1"] {
  --background: linear-gradient(to bottom, #020111 85%, #191621 100%);
}
[data-sky="2"] {
  --background: linear-gradient(to bottom, #020111 60%, #20202c 100%);
}
[data-sky="3"] {
  --background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
}
[data-sky="4"] {
  --background: linear-gradient(to bottom, #20202c 0%, #515175 100%);
}
[data-sky="5"] {
  --background: linear-gradient(
    to bottom,
    #40405c 0%,
    #6f71aa 80%,
    #8a76ab 100%
  );
}
[data-sky="6"] {
  --background: linear-gradient(
    to bottom,
    #4a4969 0%,
    #7072ab 50%,
    #cd82a0 100%
  );
}
[data-sky="7"] {
  --background: linear-gradient(
    to bottom,
    #757abf 0%,
    #8583be 60%,
    #eab0d1 100%
  );
}
[data-sky="8"] {
  --background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}
[data-sky="9"] {
  --background: linear-gradient(
    to bottom,
    #94c5f8 1%,
    #a6e6ff 70%,
    #b1b5ea 100%
  );
}
[data-sky="10"] {
  --background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}
[data-sky="11"] {
  --background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
}
[data-sky="12"] {
  --background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
}
[data-sky="13"] {
  --background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
}
[data-sky="14"] {
  --background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
}
[data-sky="15"] {
  --background: linear-gradient(
    to bottom,
    #2473ab 0%,
    #1e528e 70%,
    #5b7983 100%
  );
}
[data-sky="16"] {
  --background: linear-gradient(
    to bottom,
    #1e528e 0%,
    #265889 50%,
    #9da671 100%
  );
}
[data-sky="17"] {
  --background: linear-gradient(
    to bottom,
    #1e528e 0%,
    #728a7c 50%,
    #e9ce5d 100%
  );
}
[data-sky="18"] {
  --background: linear-gradient(
    to bottom,
    #154277 0%,
    #576e71 30%,
    #e1c45e 70%,
    #b26339 100%
  );
}
[data-sky="19"] {
  --background: linear-gradient(
    to bottom,
    #163c52 0%,
    #4f4f47 30%,
    #c5752d 60%,
    #b7490f 80%,
    #2f1107 100%
  );
}
[data-sky="20"] {
  --background: linear-gradient(
    to bottom,
    #071b26 0%,
    #071b26 30%,
    #8a3b12 80%,
    #240e03 100%
  );
}
[data-sky="21"] {
  --background: linear-gradient(
    to bottom,
    #010a10 30%,
    #59230b 80%,
    #2f1107 100%
  );
}
[data-sky="22"] {
  --background: linear-gradient(to bottom, #090401 50%, #4b1d06 100%);
}
[data-sky="23"] {
  --background: linear-gradient(to bottom, #00000c 80%, #150800 100%);
}
[data-sky="24"] {
  --background: #000000;
}
