$tmc: #185c9c;

:root {
  // used for when I am being lazy and just want to grab the main color for now
  --tmc: #{$tmc};

  // Html
  --html-c: #ffffff;
  --html-bc: linear-gradient(to bottom left, #90dffe, #38a3d1);

  // Nav
  --nav-bc: #7ed1f7;
  --nav-bc-expanded: #111111;
  --nav-bc-scrolled: #111111f6;
  --nav-l: #ffffff;
  --nav-lh: #0f63e2;
  --nav-lhbc: #3f3f46;
  --nav-dd-svg: #fff;

  // Card
  --card-tc: #ffffff;
  --card-th: #3b57d4;
  --card-dc: #ffffff;
  --card-cat: #1f1f1f;
  --card-cathbc: #525252;

  // Featured Card
  --card-fbc: #{rgba($tmc, 0.4)};

  // Series Card
  --card-serbc: #161b22;
  --card-serbrdc: #30363d;
  --card-ser: #fafafa;
  --card-serhbc: #71717a;
  --card-serhs: #fdfdfd;

  --container-header: #{$tmc};
  --main-header-color: #d4d4da;

  // Markdown
  --markdown-color: #ffffff;
  --code-background-color: transparent;
  --markdown-tags-color: #ffb951;
  --markdown-h1-color: #ffffff;
  --markdown-h2-color: #d008eb;
  --markdown-h3-color: #ff2ea4;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #40d0f0;
  --markdown-a-hover-color: #40d0f0c0;

  --code-background-color: #01790b07;

  // wip
  --wip-bc: #030303;
}

[data-time="day"] {
  --card-date: #fff;
  --html-bc: linear-gradient(to bottom, #69bee9 0%, #2f68aa 100%);
}

[data-time="night"] {
  --html-bc: linear-gradient(to bottom, #010118 60%, #140a04 90%, #1d0c01 100%);
  --wip-bc: #185c9c;
  --nav-bc: none;
}
