@import "_variables.scss";
@import "_fonts.scss";

html {
  font-family: "Gx", sans-serif;
  -webkit-tap-highlight-color: transparent;
  background: var(--background);
  // background-size: 100% 100vh;
  color: var(--html-color);
  min-height: 100%;

  &:focus {
    outline: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;

  &:horizontal {
    height: 4px;
  }
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

// FIXME
::-webkit-scrollbar-thumb {
  background: #237498;
  border-radius: 4px;

  &:hover {
    background: #555;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  margin-right: 6%;
  align-items: center;
  margin-bottom: 20px;
}

.top-container {
  background: var(--theme-main-color);
  padding: 15px 0;
  display: grid;
}

.top-logo {
  text-align: center;
  line-height: 1;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

@import "./components/_navbar.scss";
@import "./components/_sidebar.scss";
@import "./components/_card.scss";
@import "./components/_readme.scss";
@import "./components/_404.scss";
@import "./components/_wip.scss";

@import "./layouts/_station.scss";
@import "./layouts/_blog.scss";
@import "./layouts/_markdown.scss";
@import "./layouts/_about.scss";
@import "./layouts/_admin-login";
@import "./layouts/_admin";
@import "./layouts/_rng";

@import "_sizing.scss";
