{% extends "./layouts/master.html.j2" %}

{% block title %}{% endblock %}

{% block content %}
{# <main>
    <div class="about-container">
        <div class="about-header">
            <div class="about-header-portrait"></div>
            <div>Eric Christensen</div>
        </div>
        <div class="about-content">
            ... About me
            <a href="https://github.com/Ericarthurc">GitHub</a>
        </div>
    </div>
</main> #}
{% endblock %}