<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EAC | Admin</title>
  {% include "./includes/metas.html.j2" %}
  <link rel="stylesheet" href="/public/css/main.css" />
</head>

<body>
  <div id="root"></div>
  <script src="/public/js/shared.bundle.js"></script>
  <script src="/public/js/admin.bundle.js"></script>
</body>

</html>