{% extends "./layouts/master.html.j2" %}

{% block title %}{% endblock %}

{% block content %}
<div class="main-container">
    <h1>Blog Posts</h1>
    <h2>Featured</h2>
    {% if !(featured.is_empty()) %}
    <div class="featured-posts-container">
        {% for meta in featured %}
        <div class="featured-posts">
            <div class="card">
                <div class="card-header-info">
                    <span class="card-date">{{ meta.date.format("%B %d, %Y").to_string() }}</span>
                    <div class="card-header">
                        <a class="card-header-anchor" href="/blog/{{ meta.slug }}">
                            <span class="card-title">{{ meta.title }}</span>
                        </a>
                    </div>
                    <div class="card-snippet-container">
                        <span class="card-snippet">{{ meta.post_snippet }}</span>
                    </div>
                </div>
                <span class="card-categories">
                    {% for category in meta.categories %}
                    <a class="card-category" href="/category/{{ category }}">
                        <span class="card-category-info">{{ category }}</span>
                    </a>
                    {% endfor %}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="cards-container">
        {% for meta in metas %}
        <div class="card">
            <div class="card-header-info">
                <span class="card-date">{{ meta.date.format("%B %d, %Y").to_string() }}</span>
                <div class="card-header">
                    <a class="card-header-anchor" href="/blog/{{ meta.slug }}">
                        <span class="card-title">{{ meta.title }}</span>
                    </a>
                </div>
                <div class="card-snippet-container">
                    <span class="card-snippet">{{ meta.post_snippet }}</span>
                </div>
            </div>
            <span class="card-categories">
                {% for category in meta.categories %}
                <a class="card-category" href="/category/{{ category }}">
                    <span class="card-category-info">{{ category }}</span>
                </a>
                {% endfor %}
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}