{% extends "./layouts/app.html.j2" %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="error-container">
    <span class="error-code">{{status_code}}</span>
    <span class="error-message">Error: {{error}}</span>
</div>
{% endblock %}