{% extends "./layouts/master.html.j2" %}

{% block title %}{% endblock %}

{% block content %}
<main>
    <div class="main-container">
        <div class="home-content">
            <h1>Blog and HTTP Benchmarking site</h1>
            <h3>
                My goal is to benchmark HTTP libraries across large sets of languages, hardware and data
                structures...
            </h3>
        </div>
    </div>
</main>
{% endblock %}