{% extends "./layouts/master.html.j2" %}

{% block title %}{% endblock %}

{% block content %}
<div class="main-container">
    <h3 class="rng-number" hx-get="/rng_value" hx-trigger="load" id="value-one">0</h3>
    <button class="rng-button" hx-get="/rng_value" hx-target="#value-one" hx-trigger="click">Generate</button>
</div>
{% endblock %}