{% extends "./layouts/master.html.j2" %}

{% block title %}{% endblock %}

{% block content %}
<div class="main-container">
    <button hx-get="/rng_value" hx-target="#value-one" hx-trigger="click">Generate</button>
    <h3 hx-get="/rng_value" hx-trigger="load" id="value-one"></h3>
</div>

{% endblock %}